@media (min-width: 1200px) {
  #arctic { width: 33%;}
  #elephant {width: 33%;}
  #hedge {width: 33%;}
}
@media (min-width: 992px) and (max-width: 1199px){ #arctic {width: 50%;}
  #elephant {width: 50%;}
  #hedge {width: 50%;}
}
body {font-family: arial, verdana, sans-serif;
text-align: center;
color: #112233;
margin-left: 155px; 
}
h1 {text-shadow: 2px 2px 7px #111144;}
div {
  border: 1px solid #112233;
  width: 400px;
  height: 150px;
  background-color: #e6e6e6;
  float: left;
  margin-right: 20px
}
#arctic { border: 1px solid #112233;
  width: 85px;
  height: 20px; 
  background-color: #5454ee;
position: relative;
 left: 314px;
  bottom: 17px;
  margin-bottom: 10px;
}
#hedge { border: 1px solid #112233;
  width: 85px;
  height: 20px;
  background-color: #ffee44;
position: relative;
bottom: 17px;
left: 314px;
margin-bottom: 10px;}
#elephant {border: 1px solid #112233;
  width: 85px;
  height: 20px;
  background-color: #e666ee;
position: relative;
  bottom:17px;
  left: 314px;
  margin-bottom: 10px;
}